@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flex-column-start{
    @include flex-column;
    justify-content: flex-start;
}

@media (min-height: 1200px) {
    .login-container{
        @include flex-column-start;
    }
    .form-container{
        margin: 0;
        margin-bottom: 30px;
    }
    .login-container{
        justify-content: center;
    }
}

@media (max-width: 330px) {
    .welcome-text h1{
        font-size: 80%; 
        height: 8vh;   
        padding-top: 7%;
    }
    .reg-to-start-container{
        width: 50%;
        margin-left: 25%;
    }
    .center{
        margin: 0;
        text-align: center;
        font-size: 60%;
        padding: 5px;
        flex-direction: column;
    }
    .reg-button{
        width: 90%;
    }
}

@media (max-width: 720px) and (min-width: 330px) {
    .welcome-text h1{
        width: 80%;
        font-size: 170%; 
        height: 30%;   
        padding-top: 2%;
    }
    .reg-to-start-container{
        width: 70%;
        margin-left: 15%;
        align-items: center;
    }
    .center{
        margin: 0;
        text-align: center;
        font-size: 80%;
        padding: 5px;
        flex-direction: column;
    }
    .reg-button{
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 1500px) and (max-width: 2040px){
    .welcome-text{
        margin-bottom: 1%;
    }
}

@media (min-width: 2040px) {
    .welcome-text{
        margin: 0;
    }
    .welcome-text h1{
        border-radius: 35px; 
        font-size: 570%; 
    }
    .center{
        font-size: 200%;
    }
    .reg-to-start-container{
        border-radius: 35px; 
    }
    .reg-button{
        font-size: 60%;
        width: 40%;
        margin-left: 5%;
        border-radius: 35px;       
    }
}