@mixin flex-items-center {
    display: flex;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flex-column-start{
    @include flex-column;
    justify-content: flex-start;
}

@mixin container{
    @include flex-items-center;
    height: fit-content;
    padding: 1px;
    min-height: 80vh;
    margin: 0;
    justify-content: center;
}

$border-color:#ccc;
$form-background: #fff;
$btn-color: #f89c07;
$btn-hover: #d38507;
$green-background: #105c03;
$red-text: #e3390a;
$orage: #dc6e00;
$orange-hover: #dc6e00b5;

.welcome-container{
    height: fit-content;
    align-items: center;
    padding: 1px;
    min-height: 80vh;
    margin: 0;
    background: url(images/main_background.svg);
    background-position: center;
    color: white;
}

.welcome-text{
    margin-bottom: 1%;
    margin-top: 5%;
    padding: 2%;
}

.welcome-text h1{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 300%;
    border-radius: 15px;
    align-self: center;
    text-align: center;
    background-color: $green-background;
    padding: 2%;
}

.reg-to-start-container{
    @include flex-column;
    justify-self: center;
    justify-content: center;
    background-color: $green-background;
    border-radius: 15px;
    width: 50%;
    font-size: 200%;
    margin-left: 25%;
}

.center{
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.reg-button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    width: 35%;
    text-align: center;
    text-decoration: none;
    background-color: $orage;
    color: $form-background;
    font-size: 80%;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.reg-button:hover {
    background-color: $orange-hover;
}