.react-confirm-alert-overlay {
    background: #666666e0;
}

.react-confirm-alert-body {
    color: #ccc;
    align-self: center;
}

.react-confirm-alert-body h1{
    color: black;
}

.react-confirm-alert-button-group{
    align-self: center;
}

.react-confirm-alert-button-group button{
    width: 30%;
    align-self: center;
    font-size: large;
}