@import '../../mixins.scss';

.change-container{
    @include container;
    min-height: 80vh;
    background: url(../../images/register_background.svg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    color: white;
    padding: 0;
}

.form-change{
    width: 40%;
    margin: 5%;
    min-height: 380px;
    max-height: 100%;   
    padding: 20px;
    border-radius: 15px;
    background-color: $form-background;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-change h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.form {
    @include flex-column;  
}

.label-c {
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
}

.input-c {
    height: 25px;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $border-color;
}

.change-button-container {
    @include flex-items-center;
    justify-content: space-between;
}

.cancel-button {
    text-decoration: none;
    text-align: center;
    background-color: $btn-color;
    color: $form-background;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 45%;
    height: 2%;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: $btn-hover;
}

.change-image{
    margin-left: 5%;
    width: 30%;
    margin-right: 10%;
}

.change-image img{
    border-radius: 30px;
    width: 100%;   
}