@import '../../mixins.scss';

@media (max-width: 500px) {
    .deposit-container{
        min-height: 78vh;
        @include flex-column-start;
    }
    .deposit-container .form-deposit{
        width: 90%; 
        margin: 0;
        margin-top: 30px;
        padding: 10px;
        margin-bottom: 30px;
    }
    .change-button-container .cancel-button{
        padding: 0;
        font-size: 12px;
        font-weight: normal;
        padding: 5px 10px;
    }
    // .change-image{
    //     margin: 0;
    //     margin-top: 1%;
    //     margin-bottom: 1%;
    // }
    // .change-image img{       
    //     border-radius: 10px;
    // }    
    .transfer-button-container .cancel-button{
        font-size: 2vw;
    }  
    .form-deposit h2{
        font-size: 130%;
    }
    .label-t{
        font-size: 100%;
    }
}

@media (max-width: 720px) and (min-width: 500px) {
    .deposit-container{
        min-height: 78vh;
        @include flex-column-start;
    }
    .transfer-container .form-deposit{
        margin: 0;
        margin-bottom: 30px;
        margin-top: 5%;
        width: 90%; 
    }
    .change-button-container .cancel-button{
        font-size: 18px;
        font-weight: normal;
        width: 47%;
    }
    // .change-image{
    //     margin: 0;
    //     margin-top: 3%;
    //     margin-bottom: 3%;
    // }
    // .change-image img{       
    //     border-radius: 10px;
    // }
    .transfer-button-container .cancel-button{
        font-size: 100%;
    }
    .change-button-container .cancel-button{
        padding: 0;
        padding: 5px 10px;
    }
}

@media (min-height: 1200px) {
    .form-deposit{
        margin: 0;
        margin-bottom: 30px;
    }
}

@media (min-width: 2040px) {
    .form-deposit{
        min-height: 200px;
        height: 200%;
    }
    .form-deposit h2{
        font-size: 400%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .label-t{
        font-size: 150%;
    }
    .input-t{
        height: 40px;
    }
    .change-button-container .cancel-button{
        font-size: 200%;
    }
    // .change-image img{
    //     margin: 50px;
    // }
}